PORT=3000
NODE_ENV=development

# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=obra_blanca_db
DB_PORT=3306

# Datos de Negocio (Notificaciones y Redirección WhatsApp)
WHATSAPP_ADMIN_NUMBER=573001234567
COMPANY_NAME=Acabados y Decoraciones Obra Blanca
